# Force include core files
!/sprites/**/*.png
!/objects/**/*.gml
!/rooms/**/*.gml
!/scripts/**/*.gml
!/options/**/*.bmp
!/options/**/*.ico
!/options/**/*.png
!*.yy

# Shared objects
*.dll

# Builds
*.exe
*.apk
*.zip
